@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
@use 'sass:color';

.btn {
    font-family: v.$font-primary;
    font-size: v.$font-size;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-decoration: none;
}

/* Estilos para los botones */
.btn-tienda, 
.btn-ver-mas, 
.btn-carrito {
    @include m.btn-style(v.$color-verde, v.$color-texto-claro);
    &:hover {
        background-color: color.adjust(v.$color-verde, $lightness: -10%);
    }
}

/* Botón "Ver más" */
.ver-mas-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    padding-right: 20px;
    @media (max-width: 768px) {
        justify-content: center;
        padding-right: 0;
    }
}
