@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
@use '../abstracts/maps' as mp;
@use 'sass:map';

/* Estilo general del carrusel */
.carousel-item {
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

/* Estilos para los textos del carrusel */
.carousel-caption {
    background-color: v.$carousel-bg-light; /* fondo claro por defecto */
    padding: 15px;
    border-radius: 10px;
    color: v.$carousel-text-light;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    box-shadow: v.$carousel-shadow;
    h4 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    p {
        font-size: 16px;
        margin: 0;
    }

    /* Estilo para tablets */
    @media (max-width: 1024px) {
        background-color: v.$carousel-bg-dark-tablet; /* fondo más oscuro */
        color: v.$carousel-text-dark;
        h4 {
            font-size: 20px;
        }
        p {
            font-size: 14px;
        }   
    } 

  /* Estilo para móviles */
    @media (max-width: 768px) {
        background-color: v.$carousel-bg-dark-mobile; /* aún más contraste */
        padding: 10px;
        max-width: 90%;
        color: v.$carousel-text-dark;
        h4 {
            font-size: 18px;
        }
        p {
            font-size: 13px;
        }
    }
}


/* Ajustes al carrusel */
/* Estilo general del carrusel */
.carousel-item 
img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Estilos generales para los textos */
.carousel-caption {
    background-color: rgba(255, 255, 255, 0.6); /* fondo claro por defecto */
    padding: 15px;
    border-radius: 10px;
    color: #333;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
