@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

/* Estilos de las Cards */
.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr); /* 2 cards por fila en tablet */
        justify-items: center;
    }
    @media (max-width: 768px) {
        grid-template-columns: 1fr; /* 1 card por fila en mobile */
        justify-items: center;
    }
}

.card {
    background-color: v.$color-light;
    border: 1px solid v.$color-border;
    overflow: hidden;
    padding: 20px;
    text-align: center;
    color: v.$color-dark;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    @include m.box-shadow(0 4px 10px rgba(0,0,0,0.1));
    @include m.border-radius(10px);
    &:hover {
        transform: scale(1.05);
        @include m.box-shadow(0 4px 10px rgba(0,0,0,0.3));
    }
    .card-img-top {
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: center;
        display: block;
    }
    /* Estilos para el texto de las Cards */
    h5 {
        font-size: 18px;
        margin-bottom: 10px;
        color: v.$color-accent;
    }
    p {
        font-size: 14px;
        color: v.$color-gray;
    }
    iframe {
        width: 100%;
        height: 200px;
        border: none;
    }
}
