@use '../abstracts/variables' as v;

// Mixin para definir el box-shadow
@mixin box-shadow($value) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}

// Mixin para las fuentes
@mixin font-family($font) {
    font-family: $font, sans-serif;
}

// Mixin para definir el tamaño de fuente
@mixin font-size($size) {
    font-size: $size;
}

// Mixin para bordes redondeados
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

// Mixin para márgenes y padding
@mixin spacing($value) {
    margin: $value;
    padding: $value;
}

// Mixin para márgenes específicos (top, right, bottom, left)
@mixin margin($top, $right: $top, $bottom: $top, $left: $right) {
    margin: $top $right $bottom $left;
}

// Mixin para padding específico (top, right, bottom, left)
@mixin padding($top, $right: $top, $bottom: $top, $left: $right) {
    padding: $top $right $bottom $left;
}

// Mixin para aplicar color de fondo con transparencia
@mixin background-color-opacity($color, $opacity) {
    background-color: rgba($color, $opacity);
}

// Mixin para transición
@mixin transition($properties, $duration, $timing-function: ease) {
    transition: $properties $duration $timing-function;
}

// Mixin para ocultar elementos en pantallas pequeñas
@mixin hide-on-small-screen {
    @media (max-width: 767px) {
        display: none;
    }
}

// Mixin para cambiar color en estado hover
@mixin hover-color($color) {
    &:hover {
        color: $color;
    }
}

// Mixin para el tamaño de la imagen (solo para ejemplo)
@mixin image-size($width, $height) {
    width: $width;
    height: $height;
}

// Mixin para centrado horizontal
@mixin center-horizontal {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Mixin para crear un borde con color personalizado
@mixin border($color, $width: 1px, $style: solid) {
    border: $width $style $color;
}

@mixin section-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin btn-style($bg-color, $text-color) {
    background-color: $bg-color;
    color: $text-color;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}