@use '../abstracts/maps' as mp;
@use 'sass:map';

// Variables para _typography
$font-primary: "Lato", sans-serif;
$font-secondary: "Roboto", sans-serif;

//Variables para _generals
$color-background: map.get(mp.$colors, background);
$color-background-light: map.get(mp.$colors, background-light);
$color-text: map.get(mp.$colors, text);

// Variables para _carousel
$carousel-bg-light: map.get(mp.$colors, carousel-background-light);
$carousel-text-light: map.get(mp.$colors, carousel-text-light);
$carousel-bg-dark-tablet: map.get(mp.$colors, carousel-background-dark-tablet);
$carousel-text-dark: map.get(mp.$colors, carousel-text-dark);
$carousel-bg-dark-mobile: map.get(mp.$colors, carousel-background-dark-mobile);

// Variables para _forms
$form-input-padding: 12px;
$form-input-font-size: 14px;
$form-submit-padding: 12px;
$form-submit-font-size: 16px;
$form-border-radius: 10px;
$form-background-color: map.get(mp.$colors, form-background);
$form-border-color: map.get(mp.$colors, form-border);
$submit-bg-color: map.get(mp.$colors, submit-bg);
$submit-text-color: map.get(mp.$colors, submit-text);
$submit-bg-hover-color: map.get(mp.$colors, submit-bg-hover);

// Variables para _footer
$footer-background: map.get(mp.$colors, footer-background);
$footer-text: map.get(mp.$colors, footer-text);
$footer-accent: map.get(mp.$colors, footer-accent);

// Tamaños y medidas
$font-size: 14px;
$footer-padding: 40px 30px;
$footer-padding-mobile: 30px 20px;

$color-accent: #99bc85;
$color-verde: #99bc85;
$color-texto-claro: #fdfaf6;
$color-light: #fdfaf6;
$color-border: #ddd;
$color-dark: #333;
$color-gray: #777;
$carousel-shadow: 0 4px 10px rgba(0,0,0,0.2);
$form-padding: 20px;
$form-textarea-height: 120px;
